header {
    text-align: center;
    background-color: rgb(32, 128, 255);
    border: none;
    padding: 12px 32px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    text-align: center;
    padding: 15px;
  }

th {
    border: 1px solid;
  }

  #submit-button {
    margin-top: 15px;
  }

  div {
    width: 53px;
    white-space: nowrap;
    text-align: right;
  }