header {
    text-align: center;
    background-color: rgb(32, 128, 255);
    border: none;
    padding: 12px 32px;
}
th {
    border: 1px solid;
    width: 1000px;
  }
#submit-button {
    margin-top: 15px;
  }
div {
    width: 53px;
    white-space: nowrap;
    text-align: right;
  }
table {
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
    border-collapse: collapse;
  }
th,td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
  }